.custom-swiper {
    position: relative;
  }
  
  /* Position arrows off the service boxes */
  .custom-swiper .swiper-button-prev,
  .custom-swiper .swiper-button-next {
    color: gray;
    top: 45%;
    transform: translateY(-50%);
    z-index: 20;
  }
  
  .custom-swiper .swiper-button-prev {
    left: 20px;
  }
  
  .custom-swiper .swiper-button-next {
    right: 20px;
  }

  