.custom-swiper {
  position: relative;
}

.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  color: rgb(165, 83, 162);
  top: 45%;
  transform: translateY(-50%);
  z-index: 20;
}

.custom-swiper .swiper-button-prev {
  left: 20px;
}

.custom-swiper .swiper-button-next {
  right: 20px;
}

.custom-swiper .swiper-slide {
  margin: 0 !important;
  padding: 0 !important;
}
